<p id="notice"><%= notice %></p>

<h1>Presences</h1>
<div>
  <p>Exporter le jour <select id="exportDay">
    <% @days.each do |day| %>
      <option><%=day%></option>
    <% end %>
  </select> 
  pour l'arena <select id="exportArena">
    <option>Olympia</option>
    <option>ComplexeAP</option>
  </select> en excel
  <input type="button" id="exportButton" value="Telecharger" /></p>

</div>
<br/>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Heure de début</th>
      <th scope="col">Heure de fin</th>
      <th scope="col">Nom joueur/benevole</th>
      <th scope="col">Accompagnateur</th>
      <th scope="col">Phone number</th>
      <th scope="col">Arena</th>
      <th scope="col">Question 1</th>
      <th scope="col">Question 2</th>
      <th scope="col">Question 3</th>
      <th scope="col">Question 4</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @presences.each do |presence| %>
      <tr>
        <td><%= I18n.l(presence.activity_date,format: :long) %></td>
        <td><%= presence.start_time %></td>
        <td><%= presence.end_time %></td>
        <td><%= presence.name %></td>
        <td><%= presence.attendant %></td>
        <td><%= presence.phone_number %></td>
        <td><%= presence.arena %></td>
        <td><%= presence.question1 %></td>
        <td><%= presence.question2 %></td>
        <td><%= presence.question3 %></td>
        <td><%= presence.question4 %></td>
        <td><%= link_to 'Show', presence %></td>
        <td><%= link_to 'Edit', edit_presence_path(presence) %></td>
        <td><%= link_to 'Destroy', presence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div><%= will_paginate @presences %></div>
<br>

<%= link_to 'New Presence', new_presence_path %>
<script type="text/javascript">
    document.getElementById("exportButton").onclick = function () {
      query = document.getElementById("exportDay").value;
      arena = document.getElementById("exportArena").value;
      location.href = "/presences/export?selectdate=" + query + "&arena=" + arena;
    };
</script>